[ARM CPU verification](http://www.lujun.org.cn/  
